# Git
.git
.gitignore

# Rails
/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/initializers/secret_token.rb

## Environment normalization:
/.bundle
/vendor/bundle

.env

# Ignore node_modules
node_modules/

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Apple stuff
.DS_Store
*/.DS_Store

# chart
chart
